<% provide(:title, "Tournament #{@tournament.id}: Round #{@round.number}") %>
<% provide(:back_path, tournament_path(id: @tournament.id)) %>

<%= link_to 'Mathings list', round_list_path %>
<table class="table table-bordered">
  <thead>
    <td>Table No.</td>
    <td>Name</td>
    <td>VP</td>
    <td>Has extra turn?</td>
  </thead>
  <tbody>
    <% total_vp_used = @round.tournament.total_vp_used %>
    <% @tables.each.with_index(1) do |table, table_number| %>
      <% player_num = table.scores.size %>
      <% table.scores.each_with_index do |score, i| %>
        <% score_id = score.id %>
        <tr>
          <% if i.zero? %>
            <td rowspan="<%= player_num %>"><%= link_to table.number, edit_tournament_round_table_path(tournament_id: @tournament.id, round_id: @round.number, id: table.number) %></td>
          <% end %>
          <td><%= score.player.name %></td>
          <td id="<%= "score_#{table_number}_#{i}_vp" %>"><%= score.vp_text(player_num, total_vp_used) %></td>
          <td><%= check_box_tag('', true , score.has_extra_turn, disabled: true, id: "score_#{table_number}_#{i}_has_extra_turn") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div class="row">
  <div class="col-md-2 col-md-offset-5 center">
    <%= button_to('Finish',tournament_round_path(tournament_id: @tournament.id, id: @round.number), method: :put, class: 'btn btn-primary') %>
  </div>
</div>
