<% provide(:title, 'Create new tournament') %>
<% provide(:back_path, tournaments_path) %>

<div class="center-block">
  <h2>
    Input player names
  </h2>
  <%= form_tag('/tournaments', method: :post, class: 'center-block') do %>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 center">
        <%= text_area_tag :players, '', size: '30x48', placeholder: "player1\nplayer2\n..." %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 center">
        <%= check_box_tag :total_vp_used, true, true %>
        <%= label_tag :total_vp_used, 'Using total VP' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 center">
        <%= check_box_tag :rank_histroy_used, true, true %>
        <%= label_tag :rank_histroy_used, 'Using history of rank' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="center">
          <%= submit_tag 'Create', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
