<% provide(:title, "Tournament #{@tournament.id}") %>

<table class="table table-bordered">
  <thead>
    <tr>
      <td rowspan="2">Rank</td>
      <td rowspan="2" colspan="2">Name</td>
      <% @tournament.finished_count.times do |i| %>
        <td colspan="2"><%= link_to "Round #{i + 1}", tournament_round_path(tournament_id: @tournament.id, id: i + 1) %></td>
      <% end %>
      <td colspan="2">Total</td>
    </tr>
    <tr>
      <% @tournament.finished_count.times do |i| %>
        <td>TP</td>
        <td>VP</td>
      <% end %>
      <td>TP</td>
      <td>VP</td>
    </tr>
  </thead>
  <tbody>
    <% @ranking.each do |rank:, player:| %>
      <tr class="ranking-row">
        <td class="ranking-player-rank"><%= rank %></td>
        <td class="ranking-player-name"><%= player.name %></td>
        <td class="center">
        <% if player.droped_round %>
          <%= button_to('Droped', tournament_path(@tournament), method: :put, class: 'btn btn-danger', disabled: true) %>
        <% else %>
          <% if @ongoing_round %>
            <%= button_to('Active', tournament_path(@tournament, dropout: player.id), method: :put, class: 'btn btn-success', disabled: true) %>
          <% else %>
            <%= button_to('Drop out', tournament_path(@tournament, dropout: player.id), method: :put, class: 'btn btn-warning') %>
          <% end %>
        <% end %>
        </td>
        <% i = 0 %>
        <% @scores[player.id].each do |score| %>
          <td><%= format_point(score.tp) %></td>
          <td><%= format_point(score.vp) %></td>
          <% i += 1 %>
        <% end %>
        <% (@tournament.finished_count - i).times do %>
          <td>-</td>
          <td>-</td>
        <% end %>
        <td class="ranking-player-total"><%= format_point(player.total_tp) %></td>
        <td><%= format_point(player.total_vp) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-md-2 col-md-offset-4 center">
    <% if @ongoing_round %>
    <%= link_to 'Current round', edit_tournament_round_path(tournament_id: @tournament.id, id: @ongoing_round.number), class: 'btn btn-primary' %>
    <% else %>
    <%= button_to 'Start new round', tournament_rounds_path(@tournament), method: :post, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-md-2 center">
    <%= button_to 'Rollback', tournament_path(@tournament), method: :put, class: 'btn btn-primary' %>
  </div>
</div>
