<% provide(:title, "Tournament #{@round.tournament_id}: Round #{@round.number} Table #{@table.number}") %>
<% provide(:back_path, edit_tournament_round_path(tournament_id: @round.tournament_id, id: @round.number)) %>

<%= link_to 'Mathings list', round_list_path %>
<%= form_tag(tournament_round_table_path(tournament_id: @round.tournament_id, round_id: @round.number, id: @table.number), method: :put) do %>
  <table class="table table-bordered">
    <thead>
      <td>Name</td>
      <td>VP</td>
      <td>Has extra turn?</td>
    </thead>
    <tbody>
      <% player_num = @table.scores.size %>
      <% total_vp_used = @round.tournament.total_vp_used %>
      <% @table.scores.each_with_index do |score, i| %>
        <% score_id = score.id %>
        <tr>
          <td><%= score.player.name %></td>
          <td><%= text_field_tag("scores[#{score_id}][vp]", score.vp_text(player_num, total_vp_used), size: 3) %></td>
          <td><%= check_box_tag("scores[#{score_id}][has_extra_turn]", true , score.has_extra_turn) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-2 col-md-offset-5 center">
      <%= submit_tag('Save', name: 'save', class: 'btn btn-primary') %>
    </div>
  </div>
<% end %>
